################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tpmodul5_103022330044/FileContentIndex/c16df835-6bee-45d3-9fce-558642a463e6.vsidx
/.vs/tpmodul5_103022330044/FileContentIndex
